
{% extends "movieapp/base.html" %} 

{% block content %}
<header class="container">
    <h1>Your Movie List</h1>
</header>

<main class="container" role="main">
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Release Date</th>
            <th>Averaege Rate</th>
        </tr>
        {% for movie in movie_list %}
        <tr>
            <td><a href="{% url 'movie_detail' pk=movie.pk %}">{{ movie.title }}</a></td>
            <td>{{ movie.date }}</td>
            <td>{{ movie.rate }}</td>
        </tr>
        {% endfor %}
    </table>

</main>

{% endblock content %}
